.text {
    margin: 100px 400px;
}
.green {
    color: green;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    text-size-adjust: none;
}
p:first-letter {
    color: red;
}
  