.task {
  text-align: center;
  font-style: oblique;
  font-weight: 700;
  font-size: 25px;
  margin-top: 20px;
  text-shadow: 1px 1px 1px green;
}
p a:nth-child(2) {
  color: green;
}
p a:nth-child(3) {
  color: red;
}
.ok {
  color: brown;
}
[id] {
  font-weight: 700;
  color: yellow;
}
.last {
  font-weight: 700;
  color: brown;
}
